body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

select.form-select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.verse {
    margin-bottom: 15px;
    text-align: left;
}

.word {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #000;
}

.word:hover::after {
    content: attr(data-morph);
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    color: #333;
    white-space: pre-line;
    z-index: 100;
    left: 0;
    bottom: 125%;
    transform: translateX(-50%);
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.word:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}
